<div class="row">
    <div class="col">
        <h2 class="py-3">Connexion</h2>
        <?php if (!empty($erreur)) : ?>
            <div class="alert alert-danger"><?= $erreur ?></div>
        <?php endif; ?>

        <form action="" method="post" class="py-3">
            <!-- .form-group>label+input.form-control -->
            <!-- .form-row>.form-group.col-md-6*2>label+input.form-control -->
            <fieldset>
                <legend>Identifiants</legend>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="pseudo">Pseudo</label>
                        <input type="text" class="form-control" id="pseudo" name="pseudo" autocomplete="off" value="<?= $_POST['pseudo'] ?? '' ?>">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="mdp">Mot de passe</label>
                        <input type="password" class="form-control" id="mdp" name="mdp" autocomplete="new-password" value="<?= $_POST['mdp'] ?? '' ?>">
                    </div>
                </div>
            </fieldset>
            <div>
                   <input type="submit" value="Se connecter" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>